*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}
.header{
    background: url("http://pro-theme.com/html/nevica/assets/img/b01.jpg");
}
h3{
    color: white;
    float: left;
}

.logo {
    padding-right: 35px;
}
.fas{
    color: white;
}
.logo2{
    float: right;
}
.header-soc__item{
    display: inline-block;
}
.cc{
    height: 100px;
}
.quy{
    width: 80%;
    float: left;
    display: flex;
    height: 15px;
}
.trang{
    margin-top: 25px;
}
div{
    color: white;
}
.header-soc__item{
    margin: 10px;
}
.top-bar{
    border-bottom: 1px solid rgba( 255, 255, 255, 0.2);
}
.cb{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 60px;
}
.header-menu{
    margin-right: 10px;
    list-style: none;
    margin-top: 20px;
}
.name-menu{
    color: white;
    font-size: 25px;
    margin-right: 20px;
}
.anh{
    width: 46%;
    margin-left: 50px;
    margin-top: 40px;
}
.aa{
    text-align: center;
}
.cochu{
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 1px
}
.btn-primary{
    margin-top: 15px;
}
ul>.btn-primary {
    color: #fff;
    background-color: #30a8d5 !important;
    border-color: #007bff;
    padding: 5px;
    width: 190px;
    font-size: 25px;
    height: 53px
}
.tieude.row{
    margin-left: 400px;
    font-size: 20px;
}
.fa-angle-double-right{
    color: #2aabd2;
}
.container.text-center{
    height: 350px;
    margin-top: 65px;
}
ul.top-links.row {
    margin-top: 20px;
}
ul.header-soc.list-unstyled {
    padding-right: 5px;
}
.fa-behance:before {
    content: "\f1b4";
    font-size: 26px;
}